<ng-container *ngIf="pokemonDomain">
  <cdk-virtual-scroll-viewport class="pokemon-viewport" itemSize="29">
    <div class="virtual-container">
      <ng-container *cdkVirtualFor="let pokemon of pokemonDomain.results; trackBy trackPokemon; let index = index">
        <app-card [description]="pokemon.name" [domain]="pokemonDomain.domain"
                  [id]="pokemon.id ?? index + 1" [src]="pokemon.url"></app-card>
      </ng-container>
    </div>
  </cdk-virtual-scroll-viewport>
</ng-container>
